<link rel="stylesheet" href="styles.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="exercise04">
	<!-- 1) Start the effect using button 
    the effect should keep alternating between classes "shrink" and 
	"highlight" to each calling of setInterval. Use div
	with id "effect" to link css classes.. -->
	<h2>#01</h2>
	<div>
		<button @click="startEffect">Start Effect</button>
		<div id="effect" :class="ex1class"></div>
	</div>
	
	<!-- 2) Create two CSS classes and link then using array syntax -->
	<h2>#02</h2>
	<div :class="['ex2class1', 'ex2class2']">Estou sem classe CSS</div>

	<!-- 3) Apply in bellow div the inputed class.
		(create some css class to it). -->
	<h2>#03</h2>
	<div>
		<input type="text" v-model="ex3class">
		<div :class="ex3class"></div>
	</div>

	<!-- 4) Apply in div bellow the css class informed by the user, and
    use the other input to apply another css class with true/false through input 
	(create some css class to it). -->
	<h2>#04</h2>
	<div>
		<input type="text" v-model="ex4class">
		<input type="text" @input="checkEx4Value($event)">
		<div :class="[ex4class, {ex4BlueBackground: ex4Value}]"></div>
	</div>

	<!-- 5) repeat 3) but using css styles.
    Apply them to bellow div -->
	<h2>#05</h2>
	<div>
		<input type="text" v-model="ex5styles">
		<div class="box" :style="[{'background-color': ex5styles}]"></div>
	</div>

	<!-- 6) Make a simple progress bar setInterval. -->
	<h2>#06</h2>
	<div>
		<button @click="startProgress">Start</button>
		<div class="ex5Bar">
			<div class="ex5Progress" :style="[{'width': ex5Progress}]"></div>
		</div>
	</div>
</div>
<script src="app.js"></script>