<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>StarKiller</title>
</head>

<body>
    <div id="app">
        <div class="panel progress">
            <div class="player">

                <!-- Jedi life Panel control -->
                <h2>Jedi</h2>
                <div class="lifeBar">
                    <div class="playerLifePercentage" :style="playerLifePercentage"></div>
                </div>
                <div>
                    <h3 class="noPadding">Life: {{playerLife}}%</h3>
                </div>
            </div>
            <!-- Enemy life Panel control -->
            <div class="player">
                <h2>Vader</h2>
                <div class="lifeBar">
                    <div class="enemyLifePercentage" :style="enemyLifePercentage"></div>
                </div>
                <div>
                    <h3 class="noPadding">Life: {{enemyLife}}%</h3>
                </div>
            </div>
                
        </div>

            <div class="panel gameResult" v-show="gameEnded == true">
                <h3>{{result}}</h3>
            </div>


        <div class="panel buttons">
            <template v-if="gameStarted == false">
                <button class="startGame" @click="gameStarted = !gameStarted, startGame()">Start Game</button>
            </template>
            <template v-else>
                <button class="button atack" @click="normalAtack($event)">Atack</button>
                <button class="button specialAtack" @click="specialAtack($event)">Special Atack</button>
                <button class="button heal" @click="heal($event)">Heal</button>
                <button class="button giveUp" @click="(gameStarted = !gameStarted), giveUp()">GiveUp</button>
            </template>
        </div>

        <div class="panel logs">
            <template v-if="playerLog.length != 0">
            <div class="log" v-for="logs in playerLog.slice().reverse()">
                <template v-if="logs.event == 'Heal'">
                    <div class="itens" 
                        :style="{'background-color': 'green'}">Jedi has healed: {{logs.healAmount}}</div>
                </template>
                <template v-else-if="logs.causedBy == 'Vader'">
                    <div class="itens" :style="{'background-color': 'red'}">
                         {{logs.causedBy}} Atacked with a total damage of: {{logs.atkDmg}}
                        </div>
                </template>
                <template v-else>
                    <div class="itens" :style="{'background-color': 'blue'}">
                        {{logs.causedBy}} Atacked with a total damage of: {{logs.atkDmg}}
                       </div>
                </template>
            </div>
        </template>
        </div>
    </div>
</body>

<script src="app.js"></script>

</html>